
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Medium.woff2') format('woff2'),
        url('/fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* THE END OF THE FONT STYLES */

body {
  font-family: 'Open Sans';
}

.hero-slider {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out; 
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  text-align: center;
  width: 80%;
  animation: fadeInText 1s ease-in-out;
}

.hero-caption h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-caption p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.hero-socials {
  position: absolute;
  top: 20px;
  left: 178vh;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 11;
}

.hero-socials span {
  color: #fff;
  font-size: 0.9rem;
  margin-right: 10px;
  position: absolute;
  top: 0.2vh;
  left: -8vh;
}

.hero-socials img {
  width: 24px;
  height: 24px;
  /* padding: 15px; */
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.slide-controls {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 83vh;
  margin-right: 30px;
  align-items: center;
  z-index: 100;
  position: relative;
}

.slide-controls img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.slide-controls img:hover {
  transform: scale(1.1);
}

.hero-btn {
  background-color: transparent;  
  border: 2px solid #fff;         
  color: #fff;                    
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}



    .card-title {
      font-weight: 600;
    }

    footer {
      background-color: #02182f;
      color: #fff;
    }

    h1 {
      font-weight: 900;
      font-size: 15vh;
    }
  