
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Medium.woff2') format('woff2'),
        url('/fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* THE END OF THE FONT STYLES */

body {
  font-family: 'Open Sans';
}
.hero-section {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }

    .hero-section img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 6, 51, 0.822);
  z-index: 1;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  background: none;
  text-align: center;
}

.hero-button {
  z-index: 2;
  background-color: #f6761f;
  color: white;
}


    .card-title {
      font-weight: 600;
    }

    footer {
      background-color: #02182f;
      color: #fff;
    }

    h1 {
      font-weight: 900;
      font-size: 15vh;
    }
  